#BigTable{
  position: absolute;
  left: 10;
  top: 50;
}

#tabla2{
   border: 5px solid #cecece;
   width: 290px;
}
#cabtab2{
  border-color: black;
  border-width: none 1px none none;
  border-style: none solid none none;
  background-color: #fdfefe;
  font-size: 10px;
  width: 140px;
  padding: 10px;
}

#cabtab3{
  position: absolute;
  left: 164px;
  top: 1px;
  background-color: #fdfefe;
  font-size: 10px;
  padding-top: 0px;
  padding-right: 100px;
  padding-bottom: 19px;
  padding-left: 0px;
}

#cuerpotab2{
   font-size: 8pt;
   padding: 4 4 4 4px;
   background-color: #fdfefe;
}

#h1{
  position: absolute;
  left: 100px;
  top: 150px;
  font-weight: bold;
  font-size: 10pt;
  padding: 2 2 2 2px;
}