body{
  background-color:#cecece;
}

a{
  text-decoration: none;
}

.container{
  position: absolute;
}

.box{
   border: 5px solid #cecece;
   width: 290px;
   height: 40px;
}

.title{
  background-color: #fdfefe;
  font-size: 10px;
  width: 140px;
  margin: 1px;
  padding-right: 60px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 20px;
}

.date{
  border: 1px solid green;
  background-color: #fdfefe;
  color:rgb(155,155,155);
  font-size: 9px;
  margin: 1px;
}

.price{
  position: absolute;
  left: 210px;
  top:0px;
  background-color: #fdfefe;
  font-size: 10px;
  margin-right: 1px;
  margin-left: 1px;
  margin-top: 6px;
  margin-bottom: 1px;
  padding-right: 5px;
  padding-left: 10px;
  padding-top: 1px;
  padding-bottom: 4px;
}

.link{
  position: absolute;
  left: 10px;
  top: 20px;
  background-color: #fdfefe;
  font-size: 10px;
  margin-right: 1px;
  margin-left: 1px;
  margin-top: 6px;
  margin-bottom: 1px;
}

#sub_table5{
  position: absolute;
  left: 105px;
  top: 55px;
  background-color: #fdfefe;
  font-size: 10px;
  margin-right: 1px;
  margin-left: 1px;
  margin-top: 6px;
  margin-bottom: 1px;
}

#sub_table6{
  position: absolute;
  left: 210px;
  top:50px;
  background-color: #fdfefe;
  font-size: 10px;
  margin-right: 1px;
  margin-left: 1px;
  margin-top: 6px;
  margin-bottom: 1px;
  padding-right: 5px;
  padding-left: 10px;
  padding-top: 13px;
  padding-bottom: 12px;
}

#sub_table7{
  position: absolute;
  left: 10px;
  top: 70px;
  background-color: #fdfefe;
  font-size: 10px;
  margin-right: 1px;
  margin-left: 1px;
  margin-top: 6px;
  margin-bottom: 1px;
}

#sub_table8{
  position: absolute;
  left: 105px;
  top: 105px;
  background-color: #fdfefe;
  font-size: 10px;
  margin-right: 1px;
  margin-left: 1px;
  margin-top: 6px;
  margin-bottom: 1px;
}

#sub_table9{
  position: absolute;
  left: 210px;
  top:100px;
  background-color: #fdfefe;
  font-size: 10px;
  margin-right: 1px;
  margin-left: 1px;
  margin-top: 6px;
  margin-bottom: 1px;
  padding-right: 5px;
  padding-left: 10px;
  padding-top: 13px;
  padding-bottom: 12px;
}

#sub_table10{
  position: absolute;
  left: 10px;
  top: 120px;
  background-color: #fdfefe;
  font-size: 10px;
  margin-right: 1px;
  margin-left: 1px;
  margin-top: 6px;
  margin-bottom: 1px;
}

#line{
  position: absolute;
  left: 210px;
  top: 10px;
  bottom: 110px;
  border: 3px solid none;
  border-left: 2px solid #cecece;
}

#line2{
  position: absolute;
  left: 210px;
  top: 61px;
  bottom: 61px;
  border: 3px solid none;
  border-left: 2px solid #cecece;
}

#line3{
  position: absolute;
  left: 210px;
  top: 112px;
  bottom: 10px;
  border: 3px solid none;
  border-left: 2px solid #cecece;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  .table{
    border: 5px solid lightblue;
    width: 290px;
  }
}